[submodule "ECE319K_Lab4"]
	path = ECE319K_Lab4
	url = git@github.com:carlosdrojas/ECE-319KLab4_CG.git
[submodule "ECE319K_Lab5"]
	path = ECE319K_Lab5
	url = https://github.com/carlosdrojas/ECE-319KLab5_CG.git
