[submodule "ECE319K_Lab4"]
	path = ECE319K_Lab4
	url = git@github.com:carlosdrojas/ECE-319KLab4_CG.git
[submodule "ECE319K_Lab5"]
	path = ECE319K_Lab5
	url = https://github.com/carlosdrojas/ECE-319KLab5_CG.git
[submodule "ECE319K_Lab6"]
	path = ECE319K_Lab6
	url = git@github.com:carlosdrojas/ECE-319KLab6_CG.git
[submodule "ECE319K_Lab7"]
	path = ECE319K_Lab7
	url = git@github.com:carlosdrojas/ECE-319KLab7_CG-.git
